:root {
    --appFont: "Pragati Narrow", sans-serif;
    --appFontSize: 0.5vw;
    --appMinFontSize: 10px;
}


#root {
    background: linear-gradient(110deg, #6495ED 50%, #FFA500 50%); 
    border: 0.1px solid transparent;
}

.generalFlexContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.generalColumnFlexContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.text {
    padding: 10px;
    text-align: left;
    margin: 10px;
    font-family: var(--appFont);
    font-size: calc(var(--appMinFontSize) + var(--appFontSize));
}


.previewCardImage{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.button {
    border-radius: 8px;
    border: none;
    margin: 10px;
    background-color: skyblue;
    cursor: pointer;
    font-family: var(--appFont);
    font-size: calc(var(--appMinFontSize) + var(--appFontSize));
}

.button:hover {
    background-color: tomato;
}

