.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 7px;
    width: 95%;
    height: auto;
    margin: 50px auto;
    overflow: auto;
    background-color: aliceblue;
    box-shadow: 5px 5px gray;
}

.title {
    border-bottom: 2px solid #708090;
    background-color: #FFE4B5;
    /* height: 10%; */
}

.text {
    padding: 10px;
}


.contentCardContainer {
    width: 15%;
    margin: 50px;
}

.contentTitle {
    background-color: #6495ED;
}


.modalContentContainer {
    width: 100%;
}