@import "App.css";


.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 7px;
    max-width: 95%;
    height: auto;
    margin: 50px auto;
    overflow: auto;
    overflow-x: hidden;
    background-color: aliceblue;
    box-shadow: 5px 5px gray;
    padding-left: 0px;
    padding-right: 0px;
}

.title {
    border-bottom: 2px solid #708090;
    background-color: #FFE4B5;
    font-family: var(--appFont);
    font-size: calc(var(--appMinFontSize) + var(--appFontSize));
}

.cardTitle {
    text-align: center;
}

.text {
    padding: 10px;
}

.contentTitle {
    background-color: #BDB76B;
}


.contentCardContainer {
    width: 27%;
    background-color: #E0FFFF;
    overflow: auto;
    box-shadow: 2.5px 2.5px gray;
}

.contentCardContainer:hover {
    cursor: pointer;
    background-color: #00FA9A;
}


.projectPageCardTitle {
    background-color: #90EE90;
}

.projectPageCardContainer {
    min-width: 331px;
    width: 35%;
    background-color: #E6E6FA;
}

@media (max-width: 600px) {
    .projectPageCardContainer {
        width: 95%;
    }
    .contentCardContainer {
        width: 90%;
    }
  }