.imageSliderContainer {
    position: relative;
    width: 70%;
    margin: auto;
}

.imageSliderImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imageSliderCounter {
    width: 10%;
    text-align: center;
    margin: auto;
}

.imageSliderButton {
    position: absolute;
    top: 50%;
}

.buttonLeft {
    left: 0%;
}

.buttonRight {
    right: 0%;
}