.imageSliderContainer {
    position: relative;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}


.imageSliderImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imageSliderCounter {
    width: 10%;
    text-align: center;
    margin: auto;
}

.imageSliderButton {
    position: absolute;
    top: 50%;
    color: white;
    font-size: calc(var(--appMinFontSize) + var(--appFontSize));
    background-color: rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
}

.imageSliderButton:hover {
    color: black;
    font-size: calc(var(--appMinFontSize) + var(--appFontSize));
    background-color: rgba(255,255,255,0.5);
}



.buttonLeft {
    left: 0%;
}

.buttonRight {
    right: 0%;
}