.modalContainer {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(169,169,169,0.5);
}

.modalContentContainer {
    width: 30%;
    margin: 15% auto;
    overflow: auto;
}